/* 

.list {
    width: 100%;
    height: 28rem;
    max-height: 32rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 1rem 0;
    border: 1px solid #0d98ba;
}
    .img {
      padding: 1rem;
      width: 100%;
       max-width: 35%;
      height: 100%;
      overflow: hidden;
      border-right: 2px solid #eee;
    }
    img {
        width: 100%;
         height: 100%;
        max-height: 100%;
        cursor: pointer;
      }

      .profile-content {
        position: relative;
        padding: 1rem;
        width: 65%;
    } 
   .profile-content .details {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }
    .profile-content h4 {
      font-weight: 400;
    }
    .profile-content p {
      font-weight: 500;
      color: var(--color-danger);
    }
    .profile-content button {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
    }
     */

     .list {
      width: 100%;
      height: 28rem;
      max-height: 32rem;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      margin: 1rem 0;
    }
      .img {
        padding: 1rem;
        width: 100%;
         /* max-width: 35%; */
        height: 100%;
        overflow: hidden;
        border-right: 2px solid #eee;
         /* border: 1px solid red; */
      }
      
   .img img {
      width: 100%;
       /* height: 100%; */
      max-height: 100%;
      cursor: pointer;
    }
    .profile-content {
      position: relative;
      padding: 1rem;
      width: 65%;
    }
    .details {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }
    h4 {
      font-weight: 400;
    }
    p {
      font-weight: 500;
      color: var(--color-danger);
    }
    button {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
    }